.inventory{
  border: 2px solid;
  padding: 10px;
  max-width: 300px;
  min-width: 100px;
}
.coins{
  background-image: url(../../images/coins.svg);
  height: 20px;
  width: 20px;
  background-size: cover;
  float: left;
  margin-right: 10px;
}
